.banner__imagem {
    background-image: url(/assets/img/banner.png);
    position: relative;
    width: 100%;
}

.banner__titulo {
    font-family: 'Intel', sans-serif;
    font-size: 35px;
}

.botao__subtitulo {
    background-color: var(--rosa);
    border-color: var(--rosa);
    border-style: double;
    color: #fdfdfd;
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 50%;
    text-shadow: 0 0px 4px rgb(0 0 0 / 75%);
    text-align: center;
    transform: translate(-50%, -50%);
    width: 13%;
    height: 35px;
    top: 80%;

}

@media (min-width: 390px) and (max-width: 450px) {
    .banner__imagem {
        width: 100%;
        margin-top: 20px;
    }

    .botao__subtitulo {
        position: absolute;
        top: 177px;
        width: auto;
        height: auto;
    }
}
