.cabecalho {
    display: flex;
    justify-content: space-around;
    margin: 70px;
    align-items: center;
    
}
.logo {
  margin-top: 0px;
}

.input__Pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    
    width: 393px;
    height: 40px;
    
    /* Preto/05% */
    
    background: #F5F5F5;
    border-radius: 20px;
    border: none;
    
}

.login__botao {
    
    border-color: var(--rosa);
    border-radius: 4px;
    border-style: double;
    width: 178px;
    height: 55px;

    color: var(--azul-claro)
    
}

/* celular */
@media (min-width: 390px) and (max-width: 450px) {
    .cabecalho {
        margin: 20px;
    }
    
    .input__Pesquisa {
        display: none;
    }
}

@media (min-width: 650px) and (max-width: 834px) {
     .cabecalho {
        margin: 10px;
     }

     .input__Pesquisa {
        width: 200px;
     }

}