.colecao__container__titulo {
    display: flex;
    justify-content: space-between;

}

.ver__todos {
    margin-right: 63px;
    margin-top: 27px;
    font-size: 19px;
    font-weight: bold;
    color: var(--rosa)

}

.colecao__titulo__Principal {
    text-align: center;
    font-size: 25px;
    margin-top: 28px;
    margin-left: 63px;
    font-weight: bold;
    margin-bottom: revert;
}
.colecao__geral{
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    gap: 45px;
    flex-grow: 1;
    
}

.colecao__imagem {
    flex-grow: 2;
    border: 3px solid  rgba(56, 182, 255);
}

.colecao__titulo {
    text-align: center;
    font-family: 'Intel', sans-serif;
    font-size: 20px;
    margin-top: 13px;
    font-weight: bold;
    color: var(--azul-claro);
}

.colecao__descricao {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 13px;
    color: var(--rosa);
    font-weight: bold;
}

.colecao__botao {
    margin-top: 13px;
    background-color: var(--rosa);
    color: var(--branco);
    border: none;
    margin-left: 50px;
    font-weight: bold;
    
}

@media (min-width: 390px) and (max-width: 450px) {
        .colecao__titulo__Principal {
            font-size: 23px;
            margin-left: 15px;
        }

        .ver__todos {
            margin-right: 17px;
        }

        .colecao__botao {
            background-color: var(--rosa);
            color: var(--branco);
            border: none;
            margin-left: 50px;
            
        }

        .colecao__titulo {
            text-align: center;
        }

        .colecao__descricao {
            text-align: center;
            font-weight: bold;
        }
        
}

@media (min-width: 650px) and (max-width: 834px) {
        .colecao__titulo__Principal {
            font-size: 25px;
        }
        
        .colecao__botao {
            background-color: var(--rosa);
            color: var(--branco);
            border: none;
            margin-left: 50px;
            
        }

        .colecao__titulo {
            text-align: center;
        }

        .colecao__descricao {
            text-align: center;
            font-weight: bold;
        }
}