.rodape {
   
    margin-left: 100px;
    margin-bottom: 30px;
}


.container__footer__02 {
    display: flex;
    
    flex-flow: wrap-reverse;
    padding-top: 77px;
    justify-content: space-between;
    margin-right: 135px;
}

.logo__img {
    margin-left: 24px;
    margin-top: 50px;
}

.input__formulario__container {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 143px;
    gap: 6px;
}

.menu_rodape {
    margin: 0;
    padding: 0;
    font: message-box;
    font-size: 17px;
}

.input__formulario__container {
    width: 257px
}

.titulo__formulario {
    font-size: 20px;
}

.link__rodape {
    margin-top: 5px;
}

@media (min-width: 390px) and (max-width: 450px) {

    .container__footer__02 {
        margin: auto;
    }

    .titulo__formulario {
        text-align: center;
    }
    
    .input__formulario__container {
      margin-top: 0;
      margin-bottom: 30px; 
}

   .logo__img {
      margin-left: 28px;
      margin-top: 48px;
   }

   .botao__formulario {
      background-color: var(--rosa);
      color: var(--branco);
      border: none;
      width: 256px;
      height: 49px;
   }

   .menu_rodape {
     text-align: center;
     margin-left: 37px;
   }
}