/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  
    --azul-escuro: #00235B;
    --cor-de-link: #000;
    --rosa: #ff66c4;
    --branco: #fff;
    --azul-claro: #38b6ff;
    --vermelho: #ff0000;
  }
  
  body {

    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    
  }
  ol,
  ul,
  li {
    list-style: none;
  }
  
  a:hover {
    color: var(--azul-claro);
    font-weight: bold;
    
  }

  button:hover {
    padding-block-start: 6px;
    padding-bottom: 6px;
    color: var(--branco);
    font-weight: bold;
    background-color: var(--azul-claro);
  }