.texto__cadastra__produto {
    margin-top: 1px;
}
.input__nome {
    margin-top: 152px;
    font-weight: bold;
    font-size: 20px;


}

.input__url {
    font-weight: bold;
    font-size: 20px;
}

.input__preco {
    margin-top: 19px;
    font-weight: bold;
    font-size: 20px;

}

.botao__cadastra {
    margin-top: 48px;
    border-radius: 4px;
    margin-left: 510px;
}


.cadastra__produto {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.container__botao__edita__excluir {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    color: var(--rosa);
}

a.botao__edita {
    color: var(--azul-claro);
    font-weight: bold;
}

a.botao__edita:hover {
    color: var(--rosa)
}

a.botao__excluir {
    font-weight: bold;
}

@media (min-width: 390px) and (max-width: 450px) {

    .input__nome {
        margin-top: 45px

    }
}

@media (min-width: 650px) and (max-width: 834px) {
    .input__nome {
        margin-top: 94px;
        margin-right: 3px
    }

    .input__preco {
        margin-right: 4px;
    }

    .botao__cadastra {
        margin-left: 58px;
    }
}